<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="linktype" value="NAMEDPIPE"/>
    <add key="ipconfig" value="192.168.1.113"/>
    <add key="WSL_PATH" value="WSL"/>
    <add key="port" value="50001"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
